HendBook/Web References/com.instaforex.client-api/Calendar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://client-api.instaforex.com/Calendar/" elementFormDefault="qualified" targetNamespace="http://client-api.instaforex.com/Calendar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" />
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lang" type="tns:Lang" />
        <xs:element minOccurs="0" name="account" nillable="true" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Lang">
    <xs:restriction base="xs:string">
      <xs:enumeration value="En">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ru">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Lang" nillable="true" type="tns:Lang" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalendarResult" nillable="true" type="tns:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forecast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importance" type="tns:Importance" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Previous" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseTimestamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:simpleType name="Importance">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Importance" nillable="true" type="tns:Importance" />
  <xs:element name="GetCalendarByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" minOccurs="0" name="request" nillable="true" type="q1:DataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalendarByDateResult" nillable="true" type="tns:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarByDateJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" minOccurs="0" name="request" nillable="true" type="q2:DataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarByDateJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCalendarByDateJsonResult" nillable="true" type="tns:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>