HendBook/Web References/com.instaforex.client-api/Calendar0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd0" namespace="http://client-api.instaforex.com/Calendar/" />
  <xs:complexType name="DataRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Countries" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="From" type="xs:long" />
      <xs:element minOccurs="0" name="Importance" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://client-api.instaforex.com/Calendar/" minOccurs="0" name="Lang" type="q2:Lang" />
      <xs:element minOccurs="0" name="To" type="xs:long" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRequest" nillable="true" type="tns:DataRequest" />
</xs:schema>