HendBook/Web References/com.instaforex.client-api/CalendarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://client-api.instaforex.com/Calendar/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarService" targetNamespace="http://client-api.instaforex.com/Calendar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICalendarService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://client-api.instaforex.com/Calendar/Imports">
      <xsd:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd0" namespace="http://client-api.instaforex.com/Calendar/" />
      <xsd:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApi.Calendar" />
      <xsd:import schemaLocation="https://client-api.instaforex.com/soapservices/Calendar.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarService_GetCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarByDate" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarByDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarServiceJson_GetCalendarByDateJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarByDateJson" />
  </wsdl:message>
  <wsdl:message name="ICalendarServiceJson_GetCalendarByDateJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarByDateJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarService">
    <wsdl:operation name="GetCalendar">
      <wsdl:input wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendar" message="tns:ICalendarService_GetCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendarResponse" message="tns:ICalendarService_GetCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarByDate">
      <wsdl:input wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendarByDate" message="tns:ICalendarService_GetCalendarByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendarByDateResponse" message="tns:ICalendarService_GetCalendarByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICalendarServiceJson">
    <wsdl:operation name="GetCalendarByDateJson">
      <wsdl:input wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarServiceJson/GetCalendarByDateJson" message="tns:ICalendarServiceJson_GetCalendarByDateJson_InputMessage" />
      <wsdl:output wsaw:Action="http://client-api.instaforex.com/Calendar/ICalendarServiceJson/GetCalendarByDateJsonResponse" message="tns:ICalendarServiceJson_GetCalendarByDateJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarService" type="tns:ICalendarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalendar">
      <soap:operation soapAction="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarByDate">
      <soap:operation soapAction="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendarByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICalendarService1" type="tns:ICalendarService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICalendarService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalendar">
      <soap:operation soapAction="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarByDate">
      <soap:operation soapAction="http://client-api.instaforex.com/Calendar/ICalendarService/GetCalendarByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarService">
    <wsdl:port name="BasicHttpBinding_ICalendarService" binding="tns:BasicHttpBinding_ICalendarService">
      <soap:address location="http://client-api.instaforex.com/soapservices/Calendar.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICalendarService1" binding="tns:BasicHttpBinding_ICalendarService1">
      <soap:address location="https://client-api.instaforex.com/soapservices/Calendar.svc/secure" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>